@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-luxury-black font-sans bg-luxury-white overflow-x-hidden;
  }
}

/* Custom Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #F5F5F7;
}
::-webkit-scrollbar-thumb {
  background: #1C1C1E;
}